USE [master]
GO
/****** Object:  Database [MilkotronicSystem]    Script Date: 9/17/2013 11:46:48 PM ******/
CREATE DATABASE [MilkotronicSystem] ON  PRIMARY 
( NAME = N'MilkotronicSystem', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\MilkotronicSystem.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MilkotronicSystem_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\MilkotronicSystem_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MilkotronicSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MilkotronicSystem]
GO
/****** Object:  Table [dbo].[PCB_Data]    Script Date: 9/17/2013 11:46:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PCB_Data](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pcbId] [int] NOT NULL,
	[date] [nchar](10) NOT NULL,
	[time] [nchar](10) NOT NULL,
	[operation] [nvarchar](50) NOT NULL,
	[model] [nchar](10) NOT NULL,
	[boxNumber] [int] NULL,
	[speed] [nvarchar](50) NOT NULL,
	[Cal1] [nvarchar](15) NULL,
	[Cal2] [nvarchar](15) NULL,
	[Cal3] [nvarchar](15) NULL,
	[program] [varchar](max) NULL,
	[data] [varchar](max) NULL,
	[orderNumber] [nvarchar](10) NULL,
	[ClientName] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[operator] [nchar](10) NULL,
	[programVersion] [float] NULL,
	[options] [nvarchar](50) NULL,
	[numberPcb] [int] NOT NULL,
	[numberSensor] [int] NOT NULL,
 CONSTRAINT [PK_PCB_Data] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PCBs]    Script Date: 9/17/2013 11:46:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCBs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pcbNumber] [int] NOT NULL,
 CONSTRAINT [PK_PCBs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sensors]    Script Date: 9/17/2013 11:46:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sensors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[number] [int] NOT NULL,
	[pcbId] [int] NOT NULL,
 CONSTRAINT [PK_Sensors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Thermo_Data]    Script Date: 9/17/2013 11:46:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Thermo_Data](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [nvarchar](50) NOT NULL,
	[time] [varchar](50) NOT NULL,
	[box] [int] NULL,
	[pcbId] [int] NOT NULL,
	[sensor] [int] NOT NULL,
	[N40] [int] NULL,
	[P60] [int] NULL,
	[workplace] [nvarchar](50) NULL,
	[programVersion] [float] NULL,
	[ad623] [int] NULL,
	[amplitude] [int] NULL,
	[numberPcb] [int] NOT NULL,
 CONSTRAINT [PK_Thermo_Data] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/17/2013 11:46:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[authCode] [nvarchar](40) NOT NULL,
	[sessionKey] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[PCB_Data] ON 

INSERT [dbo].[PCB_Data] ([id], [pcbId], [date], [time], [operation], [model], [boxNumber], [speed], [Cal1], [Cal2], [Cal3], [program], [data], [orderNumber], [ClientName], [country], [operator], [programVersion], [options], [numberPcb], [numberSensor]) VALUES (1, 1, N'28-01-13  ', N'10:38:59  ', N'Prog+EED', N'SL        ', 2281, N'30-jet   ', N'Cow', N'Buffalo', N'Mix Milk', N'Ls59-Ind-02-FastCyc-IdentSN6.hex', N'S-LS59-00-Steps4-StartUp.eed', N'M 39', N'5.9.2', N'India', N'MH        ', 7.11, N'NoOptions', 2281, 387413)
INSERT [dbo].[PCB_Data] ([id], [pcbId], [date], [time], [operation], [model], [boxNumber], [speed], [Cal1], [Cal2], [Cal3], [program], [data], [orderNumber], [ClientName], [country], [operator], [programVersion], [options], [numberPcb], [numberSensor]) VALUES (2, 2, N'28-01-13  ', N'10:45:09  ', N'Prog+EED', N'SL        ', 2283, N'30-jet   ', N'Cow', N'Buffalo', N'Mix Milk', N'Ls59-Ind-02-FastCyc-IdentSN6.hex', N'S-LS59-00-Steps4-StartUp.eed', N'M 39', N'5.9.2', N'India', N'MH        ', 7.11, N'NoOptions', 2283, 389813)
INSERT [dbo].[PCB_Data] ([id], [pcbId], [date], [time], [operation], [model], [boxNumber], [speed], [Cal1], [Cal2], [Cal3], [program], [data], [orderNumber], [ClientName], [country], [operator], [programVersion], [options], [numberPcb], [numberSensor]) VALUES (3, 3, N'28-01-13  ', N'10:49:28  ', N'Prog+EED', N'SL        ', 2278, N'30-jet   ', N'Cow', N'Buffalo', N'Mix Milk', N'Ls59-Ind-02-FastCyc-IdentSN6.hex', N'S-LS59-00-Steps4-StartUp.eed', N'M 39', N'5.9.2', N'India', N'MH        ', 7.11, N'NoOptions', 2278, 383213)
GO
SET IDENTITY_INSERT [dbo].[PCB_Data] OFF
SET IDENTITY_INSERT [dbo].[PCBs] ON 

INSERT [dbo].[PCBs] ([id], [pcbNumber]) VALUES (62, 973)
INSERT [dbo].[PCBs] ([id], [pcbNumber]) VALUES (61, 975)
INSERT [dbo].[PCBs] ([id], [pcbNumber]) VALUES (275, 977)
GO
SET IDENTITY_INSERT [dbo].[PCBs] OFF
SET IDENTITY_INSERT [dbo].[Sensors] ON 

INSERT [dbo].[Sensors] ([id], [number], [pcbId]) VALUES (1, 387413, 1)
INSERT [dbo].[Sensors] ([id], [number], [pcbId]) VALUES (2, 389813, 2)
INSERT [dbo].[Sensors] ([id], [number], [pcbId]) VALUES (3, 383213, 3)
GO
SET IDENTITY_INSERT [dbo].[Sensors] OFF
SET IDENTITY_INSERT [dbo].[Thermo_Data] ON 

INSERT [dbo].[Thermo_Data] ([id], [date], [time], [box], [pcbId], [sensor], [N40], [P60], [workplace], [programVersion], [ad623], [amplitude], [numberPcb]) VALUES (1, N'21-01-13', N'13:14:35', 1939, 92, 2896, 1644, 2215, N'SNT:NK', 1.1, 247, 0, 1939)
INSERT [dbo].[Thermo_Data] ([id], [date], [time], [box], [pcbId], [sensor], [N40], [P60], [workplace], [programVersion], [ad623], [amplitude], [numberPcb]) VALUES (2, N'21-01-13', N'13:17:17', 1924, 93, 3345, 1586, 2213, N'SNT:NK', 1.1, 248, 0, 1924)
INSERT [dbo].[Thermo_Data] ([id], [date], [time], [box], [pcbId], [sensor], [N40], [P60], [workplace], [programVersion], [ad623], [amplitude], [numberPcb]) VALUES (3, N'21-01-13', N'13:19:50', 1946, 94, 2737, 1635, 2187, N'SNT:NK', 1.1, 247, 0, 1946)
GO
SET IDENTITY_INSERT [dbo].[Thermo_Data] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [authCode], [sessionKey]) VALUES (1, N'p_arbov', N'561750eaf88a4322c6cc18333e6b4d545ec6826d', N'1jkCikAljyqsDAJeoLJVUdJnTgFlHPczNPWGRgROmseCTwzdNq')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_FK_PCB_Data_PCBs1]    Script Date: 9/17/2013 11:46:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_PCB_Data_PCBs1] ON [dbo].[PCB_Data]
(
	[pcbId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Index_PCBs_PcbNumber]    Script Date: 9/17/2013 11:46:49 PM ******/
CREATE NONCLUSTERED INDEX [Index_PCBs_PcbNumber] ON [dbo].[PCBs]
(
	[pcbNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Index_Sensors_Number]    Script Date: 9/17/2013 11:46:49 PM ******/
CREATE NONCLUSTERED INDEX [Index_Sensors_Number] ON [dbo].[Sensors]
(
	[number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Sensors_PCBs]    Script Date: 9/17/2013 11:46:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Sensors_PCBs] ON [dbo].[Sensors]
(
	[pcbId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Thermo_Data_PCBs1]    Script Date: 9/17/2013 11:46:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Thermo_Data_PCBs1] ON [dbo].[Thermo_Data]
(
	[pcbId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PCB_Data]  WITH CHECK ADD  CONSTRAINT [FK_PCB_Data_PCBs1] FOREIGN KEY([pcbId])
REFERENCES [dbo].[PCBs] ([id])
GO
ALTER TABLE [dbo].[PCB_Data] CHECK CONSTRAINT [FK_PCB_Data_PCBs1]
GO
ALTER TABLE [dbo].[Sensors]  WITH CHECK ADD  CONSTRAINT [FK_Sensors_PCBs] FOREIGN KEY([pcbId])
REFERENCES [dbo].[PCBs] ([id])
GO
ALTER TABLE [dbo].[Sensors] CHECK CONSTRAINT [FK_Sensors_PCBs]
GO
ALTER TABLE [dbo].[Thermo_Data]  WITH CHECK ADD  CONSTRAINT [FK_Thermo_Data_PCBs1] FOREIGN KEY([pcbId])
REFERENCES [dbo].[PCBs] ([id])
GO
ALTER TABLE [dbo].[Thermo_Data] CHECK CONSTRAINT [FK_Thermo_Data_PCBs1]
GO
USE [master]
GO
